/*settings*/


html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}


:root {
    --logo-color: #000000;
    --primary-color: #212121;
    --secondary-color: #757575;
    --head-color: #2196f3;
    --main-color: #ffffff;
    --background-color: #2F303A;
    --button-color: #F5F4FA;
    --images-color: #F5F5F5;
}

*/* {
    outline: 2px solid orange;
}*/

.container {
    width: 1200px;
    margin: 0px auto;
    padding: 0px  15px;
    outline: 2px solid red;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
} 



h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p ,
ul {
    margin: 0;
}




body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: var(--button-color);
}


/*ШАПКА ПРОФИЛЯ*/

header{
 background-color: var(--main-color);
 padding-top: 24px;
}


.header-link:hover,
.header-link:focus{
color: var(--head-color) ;
}

.header-link { 
    color: var(--secondary-color);
}


.header-item:hover {
    color: var(--head-color)
}


.header-item{
    display: inline-block;
    padding: 32px 50px;
}

 
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    color: var(--logo-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}


.accent {
    color: var(--head-color);
}


.current {
    color:var(--head-color);
}


/*PLAY*/


ul{
    padding-left: 0;
}

li{
    list-style: none;
}

a {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}


img {
    display: block;
}
/*HERO SECTION*/

.hero-section {
background-color: var(--background-color);

}


.hero-wrapper {
    padding-top: 200px;
    padding-bottom: 280px;
    padding-left: 452px;
    
}



.hero-header {
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.36;
    background-color: var(--background-color);
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    
}

.hero-button{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--main-color);
    line-height: 1.87;
    background-color: var(--head-color);
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;
    
}

 
/*MAIN CONTENT*/


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.text-list-main{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    margin-bottom: 10px;
}

.text-list-par{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    color: var(--secondary-color);
    
    
}

.what-we-dohead{
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.16;
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom:50px;
}




.team-head{
color: var(--primary-color);
font-weight:700 ;
line-height: 1.16;
font-size: 36px;
margin-bottom: 50px;
text-align: center;
}

.team-list-head{
    font-weight: 500;
    color: var(--primary-color);
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    margin-top: 30px;
}


    
.team-list-par{
    font-weight: 400;
    font-size: 16px;
    line-height:1.18;
    color: var(--secondary-color);
   
}

/*FOOTER*/

footer{
    background-color: var(--background-color);
}


.ftr-address{
    color: var(--main-color);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-style: normal;
}

.footer-address {
    color: var(--secondary-color);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    font-style: normal;
}


.footer-address:hover{
 color: var(--main-color);
}


.secondary-accent{
    color: var(--main-color);
}


.footer-logo{
    font-weight: 700;
    
}


/*PORTFOLIO PAGE*/

.main-option-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--primary-color);
    
    border: none;

}
.main-option-button:hover {
    color: var(--main-color);
    background-color: var(--head-color);
    margin: 6px 22px;
}

 
.images-list-header {
    font-size: 18px;
    letter-spacing: 0.06em;
    
}

.images-list-par {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87; 
  letter-spacing: 0.03em;
}

.images {
    background-color: var(--images-color);
}


